@media (max-width:720px){
.pubg{
    width: 300px;
}

}

@media (max-width:720px){
    .user{
width: 150px;


    }
}
@media (max-width:720px){
    .kali{
        margin-left: -20%;
    }
}

@media (max-width:720px){
    .nbt6{
        margin-left: -20%;
    }
}
@media (max-width:720px){
    .Username{
        margin-left: -20%;
        width: 240px;
    }
}
@media (max-width:720px){
    .password{
        width:240px;
        margin-left: -20%;
    }
}

@media (max-width:720px){
    .bn3{
        margin-left: -1%;
    }
}

@media (max-width:720px){
    .royxat{
        margin-top: 25%;
        margin-left: 20%;
    }
}




















